{% load static %}
<!DOCTYPE html>
<html>
    <body>
        <main>
            <div>
                <h1>{{ list.name }}</h1>   
                <p><a href="{% url 'todo_list_update' list.id  %}">Edit List</a></p>
                <p><a href="{% url 'todo_list_delete' list.id  %}">DELETE</a></p>
                <h2>Tasks</h2>
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
    
                    {% for item in list.items.all  %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' item.id %}">{{ item.task }}</a>
                        </td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
                
        </main>
    </body>
</html>