{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>MY Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My lists</h1>
            <p><a href="{% url 'todo_list_create'  %}">Create a list</a></p>
            <p><a href="{% url 'todo_item_create'  %}">Create a Task</a></p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>

                {% for todolist in todolists %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_detail' todolist.id %}">{{ todolist.name }}</a>
                    </td>
                    <td>{{ todolist.items.all|length }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </main>
</body>

</html>